body {background-color: darkblue;}

h1 {color: silver;
	box-sizing: 100px;
	background-color: red;
	border-radius: 5px;
	width: 960px;
	margin: 10px;
}

div {border-radius: 10px;}

span {
	color: yellow;
}

h2 {color: white;}

.Container {
	width: 960px;
	display: inline-block;
}

.Nav {
	height: 250px;
	width: 280px;
	margin: 5px;
	left: 0;
	top: 0;
	padding-left: 10px;
	vertical-align: top;
	text-decoration: underline;
	position: static;
	display: inline-block;
	background-color: lightblue;
	color: white;
}


.Declaration {
	height: 810px;
	width: 635px;
	padding: 10px;
	color: white;
	background-color: black;
	display: inline-block;
	}



#Link {
	border-style: dotted;
	background-color: grey;
	width: 960px;
	margin: 10px;
}


